<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:zksp="http://www.zkoss.org/2008/zkspring/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
                        http://www.zkoss.org/2008/zkspring/security http://www.zkoss.org/2008/zkspring/security/zkspring-security.xsd">
                        
     <!--
       - Enable the @Secured annotation to secure service layer methods
       -->                   
	<global-method-security secured-annotations="enabled">
	</global-method-security>

    <!--
       - Secure the page per the URL pattern
       -->
    <http auto-config="true">
    	<intercept-url pattern="/sec/admin/**" access="ROLE_ADMIN"/>
    	<intercept-url pattern="/sec/**" access="ROLE_USER,ROLE_ADMIN"/>
        <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <openid-login login-page="/login.html" authentication-failure-url="/login.html?login_error=true" />
        <access-denied-handler error-page="/403.html"/>
        <form-login authentication-failure-url="/login.html?login_error=true"/>
   </http>
   
	<!-- Definisce il meccanismo di autenticazione -->
    <authentication-manager>
	   <authentication-provider user-service-ref="userDetailsService" >
	       <password-encoder hash="sha-256"/>
		</authentication-provider>
	</authentication-manager>
	
	<user-service id="userDetailsService" >
	    <!-- Google account -->
		<user name="https://www.google.com/accounts/o8/id?id=AItOawmkU3jS0rrWYNUN_BJkQCgGZlMO9x1od_w" disabled="false" authorities="ROLE_ADMIN"/> <!-- distefano.francesco83@gmail.com -->
		<user name="https://www.google.com/accounts/o8/id?id=AItOawnwmvLdTkK5LTLKzunLDklRIwyJ7o6f2Cg" disabled="false" authorities="ROLE_ADMIN"/> <!-- lombardo.cristina84@gmail.com -->
		
		<!-- JOS account -->
		<user name="http://localhost:9080/joids/cristina" disabled="false" authorities="ROLE_USER"/>
		<user name="http://localhost:9080/joids/francesco" disabled="false" authorities="ROLE_USER, ROLE_ADMIN"/>
		
		<!-- Username password auth test/test -->
		<user name="test" password="9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08" authorities="ROLE_USER"/>
	</user-service>
	
	
</beans:beans>